
<!-- team member -->
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="team-member text-center">
        <div class="team-img">
          <img class="rounded-circle" src="resources/images/user1.png" alt="image" width="300" height="300">
          <div class="overlay">
            <div class="team-details text-center">
              <p>
                Designed And Developed by Me.
              </p>
            
            </div>
          </div>
        </div>
        <h6 class="team-title"><b>Mohd Shahbaz</b></h6>
        <span>Developer</span>
      </div>
    </div>
  </div>

<!-- end team member -->

<div class="row">
    <div class="col-md-6 col-md-3">
      <h5>Thanks to our mentors I was able to build this website from very Scartch</h5>

    </div>
  </div>
