
<div ng-controller="BlogInDetailCtrl">
<center><h3 style="color:#f4511e;">Blogs...</h3></center>
<div class="card" style="width:500px;background:Honeydew;margin:auto;">
    	<div class="card-body">
    		<img alt="No Image" src="http://localhost:8081/BlogroomMiddlewhere/getprofilepic/{{blogPost.postedBy.email}}" onerror="this.src='resources/images/user1.png'" height="60px" width="60px">
      		<h4 class="card-title"><b>Blog Title :</b>&nbsp;{{blogPost.blogTitle}}</a></h4>
      		<p class="card-text"><b>Posted On :&nbsp;</b>{{blogPost.postedOn |date :'yyyy-MM-dd'}}</p>
      		<p class="card-text"><b>Posted By :&nbsp;</b>{{blogPost.postedBy.firstName}}&nbsp;{{blogPost.postedBy.lastName}}</p>
      		<p class="card-text"><b>Blog Content :&nbsp;</b>{{blogPost.blogContent}}</p>
      		<button class="btn btn-success" ng-click="approveBlog(blogPost)">Approve</button>
			<button class="btn btn-danger" ng-click="confirmation()">Reject</button>
      	</div>
      	<div class="input-group" ng-show="showTextArea">
  			<div class="input-group-prepend">
    			<span class="input-group-text">Rejection Reason : </span>
  			</div>
  			<textarea class="form-control" ng-model="rejectionReason" aria-label="With textarea" required="required"></textarea>
  			<button class="btn btn-primary" ng-click="rejectBlog(blogPost)">Submit</button>
		</div>
</div>
</div>