<div ng-controller="ChatCtrl">
<div class="card" style="width:900px;background:White;margin:auto;">
<div class="card-body">
<h4 class="card-title"><b>Chat : </b></h4>
<form role="form" id="chatForm" ng-submit="sendMessage(chat)">
<div class="form-group">
<label for="to">Send To</label>

<select class="form-control" id="to" name="to" ng-model="chat.to">
	<option value="">Select Recipient</option>
	<option value="all">All Users</option><!-- group chat -->
	<option ng-repeat="user in users" value="{{user}}" ng-hide="user.firstName==user">{{user}}</option>
</select>
</div>

<div class="form-group">
	<label for="message">Message From {{user.firstName}}</label>
	<textarea class="form-control focus-on-click" name="message" placeholder="message..." rows="3" ng-model="chat.message" ></textarea>
</div>
<input type="submit" ng-focus="focus-on-click" name="send" class="btn btn-primary" value="Send...">
</form>
<div class="row">
	<div class="col-md-12" id="chats">
		<div ng-repeat="chat in chats" class="chat {{chat.direction}}" ng-class="{'broadcast' : chat.broadcast}">
			<span class="form">
			<b class="text-success">{{chat.from}} : </b>
			<small ng-if="chat.braodcast">BROADCAST</small>
			</span>
			<span class="message">{{chat.message}}</span>
		
		</div>
	</div>
</div>
</div>
</div>
</div>