<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	
	<!-- jQuery library -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	
	<!-- popper js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  	
  	<!-- fontAwesome css -->
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
	
</head>
<body ng-app="app">

<!--           NavBar           -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#/home">
  <img src="resources/images/blogicon.png" width="30" height="30" class="d-inline-block align-top">
  <b style="color:#f4511e">BlogRoom.org</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#/home">Home</a>
      </li>	
      <li class="nav-item dropdown" ng-show="user.email!=undefined">
          <a href="" class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">Job</a>
          <div class="dropdown-menu">
            	<a class="dropdown-item" ng-show="user.role=='ADMIN'" href="#/addjob">Add Job</a>
            	<a class="dropdown-item" href="#/getalljobs">Show All Jobs</a>
           </div>
      </li>
      <li ng-show="user.email!=undefined">
      	<a class="nav-link" href="" ng-click="logout()">Logout</a>
      </li>
      <li class="nav-item dropdown"  ng-show="user.email==undefined" >
      	<a class="nav-link dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown">Login/Register</a>
      	<div class="dropdown-menu">
        	<a class="dropdown-item" href="#/login">Login</a>
        	<a class="dropdown-item" href="#/register">Register</a>
      	</div>
      </li>
      <li class="nav-item dropdown"  ng-show="user.email!=undefined" >
      	<a class="nav-link dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown">Blog</a>
      	<div class="dropdown-menu">
        	<a class="dropdown-item" href="#/addblog">Add Blog</a>
        	<a class="dropdown-item" href="#/getapprovedblogs">Show Blogs</a>
        	<a class="dropdown-item" href="#/blogswaitingforapproval" ng-show="user.role=='ADMIN'">Show Blogs waiting for Approval</a>
      	</div>
      </li>
      <li ng-controller="HomeCtrl" class="nav-item dropdown"  ng-show="user.email!=undefined" >
      	<a class="nav-link dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown">
      		<i class="fas fa-globe-americas"></i>&nbsp;<span class="badge badge-pill badge-danger" ng-if="notificationCount>0">{{notificationCount}}</span>
      	</a>
      	<div class="dropdown-menu">
        	<a class="dropdown-item" ng-repeat="notification in notifications" href="#/getnotificaton/{{notification.id}}">
        		Blog Title : <b>{{notification.blogTitle}}</b>&nbsp;|&nbsp;Approval Status is Updated.
        	</a>
      	</div>
      </li>  
      <li ng-controller="HomeCtrl" class="nav-item dropdown"  ng-show="user.email!=undefined" >
      	<a class="nav-link dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown">
      		<i class="fas fa-user-friends"></i>
      	</a>
      	<div class="dropdown-menu">
        	<a class="dropdown-item" href="#/suggestedusers">Suggested Users</a>
        	<a class="dropdown-item" href="#/pendingrequest">Pending Request</a>
        	<a class="dropdown-item" href="#/friends">Friends</a>
      	</div>
      </li> 
      <li ng-show="user.email!=undefined">
      	<a class="nav-link" href="#/chat">ChatRoom</a>
      </li>
      <li class="my-2 my-lg-0" ng-show="user.email!=undefined">
      	<a class="nav-link" href="#/updateprofile">Welcome {{user.firstName}}&nbsp;{{user.lastName}}</a>
      </li>
      <li ng-show="user.email!=undefined">
      	<a class="nav-link" href="#/uploadprofilepic">
      		<img alt="No Image" src="http://localhost:8081/BlogroomMiddlewhere/getprofilepic/{{user.email}}"
      		height="30px" width="30px">
      		<!--  onerror="this.src='resources/images/user1.png'" --> 
      	</a>
      </li>
         
    </ul>
  </div>  
</nav>
<br><br><br>
<div ng-view></div>
</body>

	<!--AngularJS File -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	
	<!-- AngularJS Route -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>
	
	<!-- AngularJS Cookies -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-cookies.js"></script>
	
	<!-- App Module -->
	<script src="js/app.js"></script>
	
	<script type="text/javascript" src="controllers/usercontroller.js"></script>
	<script type="text/javascript" src="services/userservice.js"></script>
	
	<script type="text/javascript" src="controllers/jobcontroller.js"></script>
	<script type="text/javascript" src="services/jobservice.js"></script>
	
	<script type="text/javascript" src="controllers/blogpostcontroller.js"></script>
	<script type="text/javascript" src="controllers/blogindetailcontroller.js"></script>
	<script type="text/javascript" src="services/blogpostservice.js"></script>
	
	<script type="text/javascript" src="controllers/homecontroller.js"></script>
	
	<script type="text/javascript" src="controllers/notificationcontroller.js"></script>
	<script type="text/javascript" src="services/notificationservice.js"></script>
	
	<script type="text/javascript" src="controllers/friendcontroller.js"></script>
	<script type="text/javascript" src="services/friendservice.js"></script>
	
	<script type="text/javascript" src="controllers/chatcontroller.js"></script>
	<script type="text/javascript" src="services/chatservice.js"></script>
	
 	<script type="text/javascript" src="sockjs/sockjs.min.js"></script>
	<script type="text/javascript" src="stompjs/stomp.min.js"></script>
</html>